
*{
    font-family: "Prompt", sans-serif;
}

.navbar{
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.innavbar{
    font-size: 18px;
    padding: 2px;
    display: flex;
    justify-content: space-between;
}
.innavbar a{
    text-decoration: none;
}
.createacc{
    color: #fff;
    padding: 6px;
    border: solid #00AC82;
    border-radius: 10px;
    background-color: #00AC82;

}
.blacktext{
    color: #000;
}

.intro-login{
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
    padding-bottom: 32px;
}

.login-01{
    display: grid;

}

.yes-login button{
    background-color: #00AC82;
    color: #fff;
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none;
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 10px; 
    border: none;
     
}

.form-group-1{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.form-group-2{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.login-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}


.field-1{
    background-color: #FFFFEC;
    height: 40px;
    border-radius: 8px;
    border: solid #B9B9B9 2px;
    
}

.field-2{
    background-color: #FBFCD5;
    height: 40px;
    border-radius: 8px;
    border: solid #B9B9B9 2px;
}

.yes-login{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-forget{
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    padding-bottom: 10px;
}

.login-forget a{
    text-decoration: none;
    color: #000;
}